{% extends "base.html" %} {% block content %}
<style>
.button-container {
  display: auto;
  text-align: center;
}
</style>
    <div class="card">
        <div class="button-container"> 
            <a href="{% url "file_management" %}"> 
                <button class="button-container btn btn-primary btn-lg" style="padding: 64px 64px; margin: 10px 10px;">Server Container Management</button></a>
            <a href="{% url "ecu_info" %}"> 
                <button class="button-container btn btn-primary btn-lg" style="padding: 64px 64px; margin: 10px 10px;">Remote Diagnostic - Fota Download Status</button></a>
        </div>
    </div>
<script>

</script>
{% endblock %}
